@using WebApplication1.Models
@model Listestate
@{
    ViewBag.Title = "List";
}

@Html.Partial("MenuBar") <!--Xây dựng một menu chung-->
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/Estate/Index">Trang chủ</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span>Tất cả</li>
        </ul>
    </div>
</section>
<section class="w3l-about-breadcrumb">
    <div class="container">
        <div class="breadcrumbs-custom-path">
            <form id="frm" action="/Estate/AdvancedSearch" class="w3l-cover-3-gd" method="get">
                <!--GET Method tự động mang name và value của các control b lên url-->
                <input id="srch-bar" type="search" name="searchbar" placeholder="Tìm tên bất động sản" required>
                <span id="type" class="input-group-btn">
                    <select class="btn btn-default" name="type" required>
                        <option value="" selected="">Loại hình bất động sản</option>
                        @foreach (var typename in Model.type)
                        {
                            <option value="@typename">@typename</option>
                        }
                    </select>
                </span>
                <span class="input-group-btn">
                    <select class="btn btn-default" name="country" required>
                        <option value="" selected="">Quốc gia</option>
                        @foreach (var country in Model.country)
                        {
                            <option value="@country">@country</option>
                        }
                    </select>
                </span>
                <button id="search" type="submit" class="btn-primary">Tìm kiếm</button>
            </form>
        </div>
    </div>
</section>
<section class="locations-1" id="locations">
    <div class="locations py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                @foreach (var item in Model.estate)
                {
                    <div class="col-lg-4 col-md-6 listing-img">
                        <a href="/Estate/Detail?id=@item.MABDS">
                            <div class="box16">
                                <div class="rentext-listing-category">
                                    @if (item.DICHVU == false)
                                    {
                                        <span>Bán</span>
                                    }
                                    else
                                    {
                                        <span>Cho thuê</span>
                                    }
                                </div>
                                <img class="img-fluid" src=" @Html.DisplayFor(modelItem => item.HINHANH)" alt="">
                                <div class="box-content">
                                    <h3 class="title">@string.Format("{0:#,##0}", item.GIA) VND</h3>
                                </div>
                            </div>
                        </a>
                        <div class="listing-details blog-details align-self">
                            <h4 class="user_title agent">
                                <a href="/Estate/Detail?id=@item.MABDS"> @Html.DisplayFor(modelItem => item.TENBDS)</a>
                            </h4>
                            <p class="user_position"> @Html.DisplayFor(modelItem => item.VITRI1.QUAN)-@Html.DisplayFor(modelItem => item.VITRI1.THANHPHO)</p>
                            <ul class="mt-3 estate-info">
                                <li><span class="fa fa-bed"></span> @Html.DisplayFor(modelItem => item.SOPHONGNGU) Bedrooms</li>
                                <li><span class="fa fa-shower"></span> @Html.DisplayFor(modelItem => item.SOPHONGTAM) Bathrooms</li>
                                <li><span class="fa fa-share-square-o"></span>@Html.DisplayFor(modelItem => item.DIENTICH) m<sup>2</sup></li>
                            </ul>
                            <div class="author align-items-center mt-4">
                                <a href="#img" class="comment-img">
                                    <img src="~/Content/images/team1.jpg" alt="" class="img-fluid">
                                </a>
                                <ul class="blog-meta">
                                    <li>
                                        <a href="#url">AndromedaHome</a>
                                    </li>
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> Selling agent</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!-- pagination -->
            <div class="pagination-wrapper mt-5 pt-lg-3 text-center">
                <ul class="page-pagination">
                    <li><a aria-current="page" class="page-numbers current" href="/Estate/Index?page=1">1</a></li>
                    <li><a class="page-numbers" href="/Estate/Index?page=2">2</a></li>
                    <li><a class="page-numbers" href="/Estate/Index?page=3">3</a></li>
                    <li><a class="page-numbers" href="/Estate/Index?page=4">4</a></li>
                    <li><a class="page-numbers" href="/Estate/Index?page=5">5</a></li>
                    <li><a class="next" href="#url">Next <span class="fa fa-angle-right"></span></a></li>
                </ul>
            </div>
            <!-- //pagination -->
        </div>
    </div>
</section>
@Html.Partial("Footer")
